.header {
    width: 1024px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: var(--color-grey-8);
    border-bottom: solid var(--color-brand-1);
    position: fixed;
  }


  .header .open-music-title {
    display: flex;
    align-items: center;
    color: var(--color-grey-2);
    justify-content: space-between;
    font-size: 40px;
    font-weight: bold;
  }

.header-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: absolute;
  left: 61.85rem; 
}

.button-style-1 {
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 3px;
}

.purple-letter {
  color: var(--color-brand-1);
}

/* dark mode */

.dark-mode .header {
  background-color: var(--color-grey-1);
}

.dark-mode .header .open-music-title {
  display: flex;
  align-items: center;
  color: var(--color-grey-7);
  justify-content: space-between;
  font-size: 40px;
  font-weight: bold;
}

.dark-mode .button-style-1 {
  background-color: var(--color-grey-3);
  border-radius: 3px;
  padding: 8px;
  border: none;
}

@media screen and (max-width: 768px) {
  .header {
      height: 80px; /* Reduza a altura do cabeçalho em telas menores */
      padding: 0 20px; /* Adicione um preenchimento interno para espaço */
  }
}